
#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: 0% 0% / 100px 100px repeat radial-gradient(circle farthest-side at 100% 100%, #5000e6ff 0% 12.5%, #5987fcff 12.5% 25%, #4a55f2ff 25% 37.5%, #808080ff 37.5% 50%, #37383eff 50% 62.5%, #4a55f2ff 62.5% 75%, #5987fcff 75% 87.5%, #5c59fc00 87.5% 100%), 0% 0% / 100px 100px repeat radial-gradient(circle farthest-side at 0% 0%, #5c59fc00 0% 12.5%, #5987fcff 12.5% 25%, #4a55f2ff 25% 37.5%, #37383eff 37.5% 50%, #808080ff 50% 62.5%, #4a55f2ff 62.5% 75%, #5987fcff 75% 87.5%, #5000e6ff 87.5% 100%, #ffffff00 100% 100%), linear-gradient(to top, #8000ffff 0%, #004cffff 100%), radial-gradient(farthest-corner at 50% 100%, #ff008499 0%, #0084ffff 100%);background-blend-mode: screen;
}


#contenedorDeFormulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgba(6, 241, 241, 0.089);
   border-radius: 10%;
   width: 27%;
   height: 53%;
}

