.input-icon {
    position: relative;
    width: 30%;
}
.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}
.input-icon input {
    padding-left: 30px; /* Espacio para el icono dentro del input */
}


#pasarelaDePago{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(143, 143, 235, 0.596);
    width: 60%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


#divcompras{
    display: flex;
    justify-content: center;
}

#btn{
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 20%;
}

#BTN{
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 10%;
}




