


#contenedorMenu {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    gap: 40px;
    max-width: 600px;
   padding: 10px;
    
}

.menuIMG {
    background-color: #9fa1a1;
    color: white;
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    border-radius: 10px;
    font-size: 20px;
  gap: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* edicion del boton */
.buttonA {
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #070707;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.buttonA:hover::before {
  transform: scaleX(1);
}

.button-contentA {
  position: relative;
  z-index: 1;
}

.buttonA::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

#sectionMenu{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
